
@{
    ViewBag.Title = "Index";
}

<div>
    <ul>
        <li>@Html.ActionLink("Create parcel", "CreateParcel", "Clients", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Get Parcel Info", "GetParcelInfo", "Clients", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Get Parcel", "GetParcel", "Clients", new { area = "" }, new { @class = "navbar-brand" })</li>
    </ul>
</div>
